In [61]:
import pandas as pd

In [62]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv")

In [63]:
print(df.shape)

(6574, 13)

In [64]:
print(df.info())
print(len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB
None
6574

In [65]:
print(df.describe())

               RPT          VAL          ROS          KIL          SHA  \
count  6568.000000  6571.000000  6572.000000  6569.000000  6572.000000
mean     12.362987    10.644314    11.660526     6.306468    10.455834
std       5.618413     5.267356     5.008450     3.605811     4.936125
min       0.670000     0.210000     1.500000     0.000000     0.130000
25%       8.120000     6.670000     8.000000     3.580000     6.750000
50%      11.710000    10.170000    10.920000     5.750000     9.960000
75%      15.920000    14.040000    14.670000     8.420000    13.540000
max      35.800000    33.370000    33.840000    28.460000    37.540000

               BIR          DUB          CLA          MUL          CLO  \
count  6574.000000  6571.000000  6572.000000  6571.000000  6573.000000
mean      7.092254     9.797343     8.495053     8.493590     8.707332
std       3.968683     4.977555     4.499449     4.166872     4.503954
min       0.000000     0.000000     0.000000     0.000000     0.040000
25%       4.000000     6.000000     5.090000     5.370000     5.330000
50%       6.830000     9.210000     8.080000     8.170000     8.290000
75%       9.670000    12.960000    11.420000    11.190000    11.630000
max      26.160000    30.370000    31.080000    25.880000    28.210000

               BEL          MAL
count  6574.000000  6570.000000
mean     13.121007    15.599079
std       5.835037     6.699794
min       0.130000     0.670000
25%       8.710000    10.710000
50%      12.500000    15.000000
75%      16.880000    19.830000
max      42.380000    42.540000

In [66]:
print(df.head(4))

     Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0  2061-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1  2061-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2  2061-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3  2061-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88

In [67]:
# Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라
#df['Yr_Mo_Dy'] =  df["Yr_Mo_Dy"].astype('datetime64[ns]')
df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)
print(df.head(4))
print(df.info())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 2061-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 2061-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 2061-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 2061-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB
None

In [68]:
# Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라
ans = df["Yr_Mo_Dy"].dt.year.unique()
#ans.sort()
print(ans)

[2061 2062 2063 2064 2065 2066 2067 2068 2069 2070 1971 1972 1973 1974
 1975 1976 1977 1978]

In [71]:
# Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라

def fix_century(x):
    import datetime

    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

Ans = df.head(4)
print(Ans)

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83
1 1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50
3 1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83

     CLO    BEL    MAL
0  12.58  18.50  15.04
1   9.67  17.54  13.83
2   7.67  12.75  12.71
3   5.88   5.46  10.88

In [84]:
# 년도별 각컬럼의 평균값을 구하여라

ans = df.groupby(df["Yr_Mo_Dy"].dt.year).mean()
print(ans)

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961     1961-07-02 00:00:00  12.299583  10.351796  11.362369  6.958227
1962     1962-07-02 00:00:00  12.246923  10.110438  11.732712  6.960440
1963     1963-07-02 00:00:00  12.813452  10.836986  12.541151  7.330055
1964     1964-07-01 12:00:00  12.363661  10.920164  12.104372  6.787787
1965     1965-07-02 00:00:00  12.451370  11.075534  11.848767  6.858466
1966     1966-07-02 00:00:00  13.461973  11.557205  12.020630  7.345726
1967     1967-07-02 00:00:00  12.737151  10.990986  11.739397  7.143425
1968     1968-07-01 12:00:00  11.835628  10.468197  11.409754  6.477678
1969     1969-07-02 00:00:00  11.166356   9.723699  10.902000  5.767973
1970     1970-07-02 00:00:00  12.600329  10.726932  11.730247  6.217178
1971     1971-07-02 00:00:00  11.273123   9.095178  11.088329  5.241507
1972     1972-07-01 12:00:00  12.463962  10.561311  12.058333  5.929699
1973     1973-07-02 00:00:00  11.828466  10.680493  10.680493  5.547863
1974     1974-07-02 00:00:00  13.643096  11.811781  12.336356  6.427041
1975     1975-07-02 00:00:00  12.008575  10.293836  11.564712  5.269096
1976     1976-07-01 12:00:00  11.737842  10.203115  10.761230  5.109426
1977     1977-07-02 00:00:00  13.099616  11.144493  12.627836  6.073945
1978     1978-07-02 00:00:00  12.504356  11.044274  11.380000  6.082356

                SHA       BIR        DUB        CLA       MUL        CLO  \
Yr_Mo_Dy
1961      10.881763  7.729726   9.733923   8.858788  8.647652   9.835577
1962      10.657918  7.393068  11.020712   8.793753  8.316822   9.676247
1963      11.724110  8.434712  11.075699  10.336548  8.903589  10.224438
1964      11.454481  7.570874  10.259153   9.467350  7.789016  10.207951
1965      11.024795  7.478110  10.618712   8.879918  7.907425   9.918082
1966      11.805041  7.793671  10.579808   8.835096  8.514438   9.768959
1967      11.630740  7.368164  10.652027   9.325616  8.645014   9.547425
1968      10.760765  6.067322   8.859180   8.255519  7.224945   7.832978
1969       9.873918  6.189973   8.564493   7.711397  7.924521   7.754384
1970      10.567370  7.609452   9.609890   8.334630  9.297616   8.289808
1971       9.440329  6.097151   8.385890   6.757315  7.915370   7.229753
1972       9.430410  6.358825   9.704508   7.680792  8.357295   7.515273
1973       9.640877  6.548740   8.482110   7.614274  8.245534   7.812411
1974      11.110986  6.809781  10.084603   9.896986  9.331753   8.736356
1975       9.190082  5.668521   8.562603   7.843836  8.797945   7.382822
1976       8.846339  6.311038   9.149126   7.146202  8.883716   7.883087
1977      10.003836  8.586438  11.523205   8.378384  9.098192   8.821616
1978      10.167233  7.650658   9.489342   8.800466  9.089753   8.301699

                BEL        MAL
Yr_Mo_Dy
1961      13.502795  13.680773
1962      12.930685  14.323956
1963      13.638877  14.999014
1964      13.740546  14.910301
1965      12.964247  15.591644
1966      14.265836  16.307260
1967      14.774548  17.135945
1968      12.808634  15.017486
1969      12.621233  15.762904
1970      13.183644  16.456027
1971      12.208932  15.025233
1972      12.727377  15.028716
1973      12.169699  15.441096
1974      13.252959  16.947671
1975      12.631671  15.307863
1976      12.332377  15.471448
1977      13.459068  16.590849
1978      12.967397  16.771370

In [89]:
# weekday컬럼을 만들고 요일별로 매핑하라 ( 월요일: 0 ~ 일요일 :6)

df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
print(df['weekday'].head(4).to_frame())

   weekday
0        6
1        0
2        1
3        2

In [93]:
# weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라

df['WeekCheck'] = df["weekday"].map(lambda x : 0 if x < 5 else 1)
df['WeekCheck'] = df["weekday"].map(lambda x : 0 if x in [5, 6] else 1)
print(df.WeekCheck.head(3).to_frame())

   WeekCheck
0          0
1          1
2          1

In [94]:
# 년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라

ans = df.groupby(df["Yr_Mo_Dy"].dt.month).mean()
print(ans)

                              Yr_Mo_Dy        RPT        VAL        ROS  \
Yr_Mo_Dy
1        1969-07-17 06:40:00.000000000  14.847325  12.914560  13.299624
2        1969-08-17 07:50:33.070866142  13.710906  12.111122  12.879132
3        1969-09-14 12:00:00.000000000  13.158687  11.505842  12.648118
4        1969-10-15 00:00:00.000000000  12.555648  10.429759  12.204815
5        1969-11-14 12:00:00.000000000  11.724032  10.145619  11.550394
6        1969-12-15 00:00:00.000000000  10.451317   8.949704  10.361315
7        1970-01-14 12:00:00.000000000   9.992007   8.357778   9.349642
8        1970-02-14 12:00:00.000000000  10.213411   8.415143   9.993441
9        1970-03-17 00:00:00.000000000  11.458519   9.981002  10.756883
10       1970-04-16 12:00:00.000000000  12.660610  11.010681  11.453943
11       1970-05-17 00:00:00.000000000  13.200722  11.639500  12.293407
12       1970-06-16 12:00:00.000000000  14.446398  12.353602  13.212276

               KIL        SHA       BIR        DUB       CLA       MUL  \
Yr_Mo_Dy
1         7.199498  11.667734  8.054839  11.819355  9.512047  9.543208
2         6.942411  11.551772  7.633858  11.206024  9.341437  9.313169
3         7.265907  11.554516  7.959409  11.310179  9.635896  9.700324
4         6.898037  10.677667  7.441389  10.221315  8.909056  8.930870
5         6.307487  10.224301  6.942061   8.797738  8.452903  8.040806
6         5.652278   9.529926  6.410093   8.009556  7.920796  7.639796
7         5.416935   9.302634  5.972348   7.843501  7.262760  7.544480
8         5.270681   8.901559  5.891057   7.772312  6.842025  7.240573
9         5.615176   9.766315  6.566222   8.609722  7.745677  7.610556
10        6.065215  10.550251  7.159910   9.387778  8.726308  8.347181
11        6.247611  10.501130  7.134333  10.814861  8.427167  8.604000
12        6.829910  11.301254  7.963710  11.849050  9.209355  9.447258

                CLO        BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy
1         10.053566  14.550520  18.028763  2.989247   0.715054
2          9.518051  13.728898  17.156142  3.005906   0.712598
3         10.096953  13.810609  16.909317  3.000000   0.716846
4          9.158019  12.664759  14.937611  3.011111   0.711111
5          8.524857  12.767258  13.736039  2.982079   0.716846
6          7.729185  12.246407  12.861818  3.007407   0.714815
7          7.321416  11.676505  12.800789  3.001792   0.711470
8          7.002783  11.110090  12.565943  2.991039   0.716846
9          7.689278  12.686389  14.761963  3.009259   0.712963
10         8.850376  14.155323  16.697151  2.998208   0.713262
11         8.943167  13.815741  18.114185  2.992593   0.716667
12         9.627670  14.259516  18.697599  3.017921   0.711470

In [101]:
# 모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라

df = df.fillna(method='ffill').fillna(method='bfill')
ans = df.head(3)
print(ans)
print(ans.isnull().sum())

    Yr_Mo_Dy    RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL  \
0 1961-01-01  15.04  14.96  13.17   9.29  12.62  9.87  13.67  10.25  10.83
1 1961-01-02  14.71  14.96  10.83   6.50  12.62  7.67  11.50  10.04   9.79
2 1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25  10.04   8.50

     CLO    BEL    MAL  weekday  WeekCheck
0  12.58  18.50  15.04        6          0
1   9.67  17.54  13.83        0          1
2   7.67  12.75  12.71        1          1
Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
weekday      0
WeekCheck    0
dtype: int64

In [111]:
# 년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라
ans = df.groupby(df["Yr_Mo_Dy"].dt.to_period('M')).mean()
print(ans)

                    Yr_Mo_Dy        RPT        VAL        ROS       KIL  \
Yr_Mo_Dy
1961-01  1961-01-16 00:00:00  14.932581  12.084194  13.431613  7.736774
1961-02  1961-02-14 12:00:00  16.269286  14.975357  14.324643  9.116786
1961-03  1961-03-16 00:00:00  11.015806  11.296452  10.752903  7.137742
1961-04  1961-04-15 12:00:00  10.722667   9.427667   9.998000  5.830667
1961-05  1961-05-16 00:00:00   9.860968   8.735161  10.818065  5.892258
...                      ...        ...        ...        ...       ...
1978-08  1978-08-16 00:00:00   9.645161   8.259355   9.032258  4.502903
1978-09  1978-09-15 12:00:00  10.913667  10.895000  10.635000  5.725000
1978-10  1978-10-16 00:00:00   9.897742   8.670968   9.295806  4.721290
1978-11  1978-11-15 12:00:00  16.151667  14.802667  13.508000  7.317333
1978-12  1978-12-16 00:00:00  16.175484  13.748065  15.635161  7.094839

                SHA        BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy
1961-01   11.215806   8.588065  11.184839   9.270968   9.085806  10.107419
1961-02   13.852143  10.937500  11.890714  11.846071  11.821429  12.714286
1961-03   10.509355   8.866774   9.644194   9.829677  10.646129  11.251935
1961-04    8.435000   6.495000   6.925333   7.094667   7.342333   7.237000
1961-05    9.490323   6.574839   7.477097   8.177097   8.039355   8.499355
...             ...        ...        ...        ...        ...        ...
1978-08    7.368065   5.935161   5.650323   5.417742   7.241290   5.536774
1978-09   10.372000   9.278333  10.790333   9.583000  10.069333   8.939000
1978-10    8.525161   6.774194   8.115484   7.337742   8.297742   8.243871
1978-11   11.475000   8.743000  11.492333   9.657333  10.701333  10.676000
1978-12   11.398710   9.241613  12.077419  10.194839  10.616774  11.028710

                BEL        MAL   weekday  WeekCheck
Yr_Mo_Dy
1961-01   13.880968  14.703226  2.935484   0.709677
1961-02   18.583214  15.411786  3.000000   0.714286
1961-03   16.410968  15.637742  3.000000   0.741935
1961-04   11.147333  10.278333  3.166667   0.666667
1961-05   11.900323  12.011613  2.806452   0.741935
...             ...        ...       ...        ...
1978-08   10.466774  12.054194  2.903226   0.741935
1978-09   15.680333  19.391333  3.100000   0.700000
1978-10   13.776774  17.150000  2.935484   0.709677
1978-11   17.404667  20.723000  2.966667   0.733333
1978-12   13.859677  21.371613  3.193548   0.677419

[216 rows x 15 columns]

In [113]:
print(df['RPT'].head(5))

0    15.04
1    14.71
2    18.50
3    10.58
4    13.33
Name: RPT, dtype: float64

In [117]:
# RPT 컬럼의 값을 일자별 기준으로 1차차분하라

print(df['RPT'].diff().head(5))

0     NaN
1   -0.33
2    3.79
3   -7.92
4    2.75
Name: RPT, dtype: float64

In [119]:
# RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한값을 구하여라

ans = df[['RPT', 'VAL']].rolling(7).mean()

print(ans.head(15))

          RPT        VAL
0         NaN        NaN
1         NaN        NaN
2         NaN        NaN
3         NaN        NaN
4         NaN        NaN
5         NaN        NaN
6   14.124286  12.727143
7   13.541429  11.982857
8   13.237143  11.392857
9   12.504286  10.570000
10  12.504286  11.032857
11  13.421429  10.865714
12  12.951429  10.211429
13  12.314286   8.978571
14  12.468571   8.967143